*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    height: 100%;

    /* Colors */
    --color-primary: #2E573B;
    --color-primary-transparent: #2E573B0F;
    --color-dark: #000000;
    --color-light: #FFFFFF;

    /* Fonts */
    --font-weight-black: 900;
    --font-weight-bold: 700;
    --font-weight-normal: 400;


}

body {
    font-family: "Roboto";
    background-image: url(./images/Background-Image.jpg);
    background-repeat: no-repeat;
    background-position-y: 30%;
    min-height: 100%;

}

/* Navigation Bar */
.header {
    background-color: var(--color-primary-transparent);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.25rem 2rem;
}

.nav__list {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
}

.nav__list-item {
    list-style: none;
    margin-left: 2rem
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: var(--font-weight-bold);
}

.mobile-navigation-button {
    display: none;
}

/* Main */
.main {
    max-width: 28.125rem;
    margin: 3.75rem auto;
    padding: 1rem;
    animation: transitionIn 1s ease-in;
}

.main__title-1, .main__title-2 {
    font-weight: var(--font-weight-black);
    font-size: 3rem;
    line-height: 100%;
}

.main__title-2 {
    margin-bottom: 1.5rem
}

.main__information {
    font-size: 1.25rem;
    line-height: 150%;
    margin-bottom: 1.5rem;
}

/* Buttons */
.buttons-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.button {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    border-radius: 0.625rem;
    padding: 1.1875em 3.875em;
    margin-bottom: 1rem

}

.button-primary {
    background: var(--color-primary);
    color: var(--color-light);
}

.button-outline {
    outline: var(--color-primary) solid 6px;
    outline-offset: -6px;
    color: var(--color-primary)
}


/* Transition in main content and buttons */
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(5%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

/* When the buttons stop wrapping, bring the background higher and increase padding on nav bar */
@media (min-width: 26.75em) {
    body {
        background-position-y: 45%;
    }

    .header {
        padding: 2.25rem 4.5rem;
    }
}

@media (max-width: 50em) {
    .nav__list {
        position: fixed;
        inset: 0 0 0 80%;
        background-color: var(--color-primary);
        z-index: 10;

        flex-direction: column;
        justify-content: unset;
        align-items: flex-start;
        padding: 5rem 0.5rem;
        font-size: 1rem;
        transition: transform 0.5s ease-in-out;
        transform: translateX(100%)
    }

    .nav__list[data-visible="true"] {
        transform: translateX(0%);
    }

    .nav__link{
        color: var(--color-light)
    }

    .mobile-navigation-button {
        display: block;
        position: absolute;
        top: 2.375rem;
        right: 2rem;
        z-index: 9999;
        width: 1.5rem;
        height: 1.5rem;
        background-image: url(./images/Navigation_Open.svg);
        background-color: transparent;
        border: none;
    }

    .mobile-navigation-button[data-visible="true"] {
        background-image: url(./images/Navigation_Close.svg)
    }
}

@media (max-width: 25em) {
    .mobile-navigation-button {
        right: 1rem;
    }
}
/* Introduce flexbox nav at higher screen widths
@media (min-width: 50em) {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2.25rem 4.5rem;
    }

    .nav__list-item {
        margin-left: 2rem
    }
} */
